@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.cdnfonts.com/css/cubano');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Trispace', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-cubano {
  font-family: 'Cubano', sans-serif;
}


.bg-mesh{
  background: url(./assets/mesh-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


input, textarea{
  @apply bg-gray-100 shadow-inner w-full resize-none border-gray-300 border-2 text-slate-900 rounded-md py-2 px-4;
  outline: none;
}

textarea{
  @apply resize-none w-full h-32 p-2 border-2 border-gray-300;
}

.form-control {
  @apply flex-1 flex flex-col w-full gap-1 items-start justify-start font-bold text-lg;
}

::-webkit-scrollbar{
  @apply w-1 bg-blue-100 rounded-full;
}

::-webkit-scrollbar-thumb{
  @apply bg-slate-800 rounded-full;
}

.name{
  position: relative;
  @apply text-slate-600 font-bold;
  transition: 0.3s;
}

/* .name:hover{
  @apply z-20 text-slate-800 font-bold border-slate-800;
} */


.name::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 20%;
  @apply bg-slate-900 -z-20 bottom-0;
  transition: 0.3s;
}

.name:hover::before{
  @apply h-full w-full;
}

.name:hover{
  @apply text-white;
}
